body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C5C6C7;
}

header {
  width: 100%;
  position: relative;
  text-align: center;
}

main{
  height: 70%;
}

.carrousel {
  text-align: center;
  display: flex;
  margin: 12vh 0;
}

#logo {
  width: 150px;
  height: 150px;
}

#sign {
  right: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}

/*Imágens*/
.slide {
  display: none;
  margin: auto;
  max-width: 800px;
  border: 20px solid cadetblue;
}
