.aboutUs {
    font-size: 25;
    padding-top: 50px;
    border: 10px;
    line-height: 50px;
    font-family: web 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}