main {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;

}

.grade-card {
    padding: 5vh;
    background-color: mediumaquamarine;
    color: black;
    margin: 5vh;
    cursor: pointer;
    width: 25%;
    max-width: 25%;
    height: 25%;
    font-size: 17;
    text-align: center;
}